$golden: 1.618rem;
* {
	box-sizing: border-box;
}
body {
	overflow: hidden;
	position: fixed;
}
#wrap {
	font-family: 'Lato', sans-serif;
	position: relative;
	height: 100vh;
	min-width: 100vw;
	display: flex;
	align-content: stretch;
}
button {
	outline: none;
	&.hamburger {
		display: none;
	}
}
a {
	display: block;
	padding: 0.5rem $golden;
}
a, a:visited {
	color: currentColor;
	text-decoration: none;
}
header {
	width: 300px;
	overflow-y: auto;
}
#three {
	width: 100%;
	height: 200px;
	canvas {
		width: 100%;
		height: 100%;
	}
}
nav {
	margin: 1rem;
	ul {
		list-style: none;
		font-size: 1.2rem;
		font-weight: 300;
		padding-left: 0;
	}
	h1 {
		font-size: $golden;
		padding: 0.5rem $golden;
		border-bottom: solid 2px currentColor;
	}
}
main {
	flex-grow: 1;
	position: relative;
}
section {
	display: none;
	position: absolute;
	width: 100%;
	&.active {
		display: block;
	}
	h1 {
		text-align: center;
	}
}
.thing {
	height: 80vh;
}

$breakpoint: 1024px;
$navWidth: 256px;
@media (max-width: $breakpoint) {
	#three {
		position: absolute;
		width: 100vw;
		height: 100vw;
		margin-top: -50vw;
		top: 50vh;
		right: 0;
	}
	#wrap {
		left: -$navWidth;
		transition: left 300ms ease-in;
	}
	#wrap.open {
		left: 0;
	}
	button.hamburger {
		display: block;
	}
	header {
		width: $navWidth;
		background: #EF5350;
		box-shadow: inset (-$navWidth / 10) 0 ($navWidth / 10) (-$navWidth / 10) rgba(0,0,0,0.8);
		color: #fff;
	}
	a {
		padding: 1rem $golden;
	}
	main {
		width: 100vw;
	}
}
